@import "app.sass"

$zonac-color-a: #1B0F63
$zonac-color-b: #48185D
$zonac-color-c: #63245D
$zonac-color-d: #7B2B5E
$zonac-color-e: #92335D

.hero-zc
  min-height: 90vh
  background-color: $zonac-color-b